/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #222;
  width: 100%;
}

#the_title {
  background-color: #b8a18c;
  text-align: center;
  padding: 40px;
  max-width: 100%;
}

#the_title h1 {
  margin: 0;
  padding-top: 20px;
}

header p {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 15px;
}

[alt="cute dog over the header"] {
  float: left;
  position: absolute;
  top: 86px;
  left: 80px;
}

/* Container styles */
.c {
  text-align: center;
  background-color: #e0e0eb;
  width: 100%;
}

.c h1 {
  text-align: center;
}

.c h3 {
  margin-top: 20px;
}

.t {
  padding-top: 20px;
}

[alt="Cute Dog Looking Over Form"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
  max-width: 50%;
  width: 40%;
}

form {
  padding: 2rem;
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

div {
  margin: 0 0 1rem 0;
}

label, input {
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  display: block;
}

label {
  width: 30%;
}

input {
  border: 2px solid #aaa;
  border-radius: 2px;
  width: 50%;
  min-width: 200px;
}

input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  min-width: 0;
  width: auto;
  text-align: left;
  margin: 10px 0;
}

h4 ~ label {
  display: inline;
}

h4 {
  margin-top: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}

table {
  width: 70%;
  margin: 30px auto;
}

table, thead, td {
  border: 1px solid;
}


td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f8dee1;
}

tr:nth-child(odd) {
  background-color: #c9c9c9;
}

thead tr:first-child,
thead tr:nth-child(2) {
  background-color: #666;
  color: white;
}

table img {
  width: 200px;
}

[alt="The Golden Retriever"] {
  margin-left: 50%;
  margin-top: 55px;
}

#mansion {
  margin-left: 45px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    padding: 20px;
    
  }

  header h1 {
    font-size: 1.5rem;
  }

  form {
    padding: 1rem;
    width: 100%;
  }

  label, input {
    width: 100%;
  }

  input {
    width: 100%;
  }

  table {
    width: 100%;
  }
}

@media (max-width: 360px) {
  form {
    padding: 1rem;
    width: 100%;
  }
  #the_title {
    background-color: #b8a18c;
    text-align: center;
    padding: 40px;
    max-width: 100%;
  }
  
  #the_title h1 {
    margin: 0;
    padding-top: 20px;
  }
  
  header p {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
  }
  header {
    width: 100%;
  }
}
